Package: com.yourcompany.metalbiew
Name: PUBGM Aimbot
Version: 1.0.0
Architecture: iphoneos-arm
Description: Professional PUBGM Internal Aimbot Tweak
Maintainer: Your Name <your@email.com>
Author: Your Name <your@email.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
Priority: optional
Homepage: https://yourwebsite.com
Tag: purpose::tweak, compatible::ios14, compatible::ios15, compatible::ios16
